<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <div align="center">
        <h1>404</h1>
        <h3>You are looking for something that is not here</h3>
        <br>
        <a href="/products">>> products page <<</a>
    </div>
</head>
<body>

</body>
</html>