<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <div align="center">
        <h1>500</h1>
        <h3>If you are here, then I did not write this code for nothing.</h3>
        <br>
        <a href="/products">>> products page <<</a>
    </div>
</head>
<body>

</body>
</html>