<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Common Error</title>
    <div align="center">
        <h1>Error</h1>
        <h3>It seems to me that you do not pay much attention to my work.</h3>
        <h3>there are only 3 Easter eggs. Find them =)</h3>
        <br>
        <a href="/products">>> products page <<</a>
    </div>
</head>
<body>

</body>
</html>