<!DOCTYPE HTML>
<html>
<head>
    <title>Test Task Java</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, {{name}}</div>
<a href="/products">Products</a>
</body>
</html>
