<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>

<div>
    <nobr>
        <a href="/products/add">Add Product</a> |
        <a href="/">Back to Index</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Edit</th>
        </tr>
        {{#products}}
        <tr>
            <td><a href="/products/{{id}}">{{id}}</a></td>
            <td><a href="/products/{{id}}">{{name}}</a></td>
            <td><a href="/products/{{id}}">{{price}}</a></td>
            <td>{{#date}}{{date}}{{/date}}</td>
            <td><a href="/products/{{id}}/edit">Edit</a></td>
        </tr>
        {{/products}}
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        {{#hasPrev}}<a href="/products?page={{prev}}">Prev</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
        {{#hasNext}}<a href="/products?page={{next}}">Next</a>{{/hasNext}}
    </nobr>
</div>
</body>
</html>